{
  "port": 5002,
  "token": "[BOT_TOKEN]",
  "applicationId": "12345678901234567",
  "owner": "12345678901234567",
  "prefix": "'",
  "baseUrl": "https://example.com/",
  "userAgent": "RemJS/0.0.1",
  "database": "database.db",
  "sauceNaoApiKey": "[API_KEY]",
  "vtrackerEndpoint": "https://api.vtracker.app",
  "notificationManageGuildIds": [],
  "notificationManageUserIds": [],
  "notifications": {},
  "autoCheckNotificationGuildIds": []
}